input,
select,
textarea {
  background-color: #fff;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  border-radius: 2px;
  color: #333;
  display: block;
  float: none;
  font-size: 16px;
  border: 1px solid #ccc;
  padding: 6px 10px;
  width: 100%;
  line-height: 1.3;
  outline: none !important;
}

input,
select {
  height: 38px;
}

input:not(.wpforms-error):focus,
textarea:not(.wpforms-error):focus,
select:not(.wpforms-error):focus,
.is-focused .choices__inner,
.is-open .choices__inner,
.is-open .choices__list--dropdown {
  border-radius: 2px;
  border-color: #999 !important;
}

.wpforms-field {
  padding: 10px 0;
  clear: both;
}

.wpforms-required-label {
  color: #ff0000;
  font-weight: 400;
}

input.wpforms-error,
textarea.wpforms-error {
  border: 1px solid #ff0000;
}

label.wpforms-error {
  display: block;
  color: #ff0000;
  font-size: 12px;
  float: none;
  cursor: default;
  margin-top: 2px;
}

.g-recaptcha {
  display: flex;
  justify-content: center;
}